* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #003985;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 0;
  width: 100%;
}

h1 {
  margin: 0;
  width: 100%;
}

main {
  margin: 0 auto;    
  padding: 0 20px;   
}

.main-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}

.main-container div {
  display: flex;
  flex-direction: column;
  align-items: normal;
}

img {
  width: 50%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 8px 12px;
  text-align: left;
}

#btn-status {
  width: 40%;
}

footer {
  background-color: #e3c7e0;
  border: 1px solid #003985;
  color: #003985;
  margin-top: 25px;
  padding: 15px;
  text-align: center;
  width: 100%;
}

/* Navigation (menu bar) */
.topnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e3c7e0;
  border: 1px solid #003985;
  padding: 10px 20px; 
}

.topnav img {
  height: 40px; 
  width: auto;
  margin-right: auto; 
}

.topnav a {
  color: #003985;
  text-decoration: none;
  font-size: 17px;
  margin-left: 20px; 
}



.topnav a.active {
  margin-left: 0;
}


button {
  background: #e3c7e0;
  border: 1px solid #003985;
  border-radius: 5px;
  color: #003985;
  font-size: 0.75em;
  padding: 10px 30px;
  margin-top: 10px;
}

button:hover {
  background: #60f20c;
  border: 1px solid #60f20c;
}

/* Full-width adjustments */
main, .two-col, .header-cols {
  width: 100%;
}
/*Report page css-start*/
.report-container
{
  width: 370px;
  margin:3.8rem auto;
  padding: 20px;
  text-align:center;
  border-radius: 10px;
  background:#e3c7e0;;
  box-shadow: 0 20px 35px rgba(0,0,0,0.1);
}
.report-container h2 {
  margin: 10px;
  padding-bottom:10px;
  text-transform: uppercase;
}  

.progress-container
{
  margin: auto;
  width: 150px;
  height: 150px;
  border-radius:50%;
  border: 1px solid #cfcfcf;
  position: relative;

}


.progress .mask,
.progress .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius:50%;
  
}


.progress .mask {
  clip: rect(0px, 150px, 150px, 75px);
}


.inside-circle{
  width: 122px;
  height: 122px;
  font-size: 2rem;
  position: absolute;
  background-color: #fff;
  border-radius:50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 14px 0 0 14px;
}

.mask .fill{
  clip: rect(0px, 75px, 150px, 0px); 
  background: #903BDF;
}

.mask.full,
.fill{
  animation: fill ease-in-out 3s;
  transform: rotate(0deg);
}

@keyframes fill{
  0%{
    transform: rotate(0deg);
  }
}

.inside-circle span{
font-size: 1.2rem;
margin-Left: 0.2rem;
}

.line{
  margin-top: 2rem;
  border: 2px solid rgb(216,216,216);
}

.progress-report{
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-report h3{
  font-size: 1.5rem;
  padding: 1rem;
}

.progress-report span{
  font-size: 1rem;
  color: reb(99,98,98);

}

.progress-report .line{
  height: 6rem;
}

.report-title{
  display: flex;
  margin:0 0 0 5px;
  border-radius:10px;
  height:5.5rem;
  background: rgb(224 ,215, 231);
}

.report-title .text{
  text-align: center;
  padding: 1px 30px;
}

.report-title h3{
  /*text-transform: capitalize;*/
   font-size:1.3rem;

}
.progressBar{
  position: relative;
  width:300px;
  height: 30px;
  background:yellowgreen;
  overflow: hidden;

}

.progress__fill{
  width: 0%;
  height:100%;
  background: green;

}

.progress__text{
  position: absolute;
  top: 50%;
  right: 5px;
  font-weight: bold;
  transform: translateY(-50%);
}
/*Report page css-end*/

/*Admin page css-start*/
.admin-boxcontainer
{
  width: 370px;
  margin:3.8rem auto;
  padding: 20px;
  text-align:center;
  border-radius: 10px;
  background:#e3c7e0;
  box-shadow: 0 20px 35px rgba(0,0,0,0.1);
  z-index: 1;

}

.admin-boxcontainer label{
  font-weight:bold;
}

.glass-container{
  width: 370px;
  height: 400px;
  padding: 20px;
  margin:0.1rem auto;
  position: relative;
  z-index:2;
  background: #e3c7e0;/* rgba(255,255,255,0.1);*/
  box-shadow: 0 20px 35px rgba(0,0,0,0.1);
  border-radius: 10px;
  border: 1px solid #fff;
}

.glass-container::before{
  content: '';
  padding:20px;
  margin: 0.1rem auto;
  position: absolute;
  width: 100%;
  height:100%;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index:-1;
}

.login-box{
  max-width: 250px;
  margin: 0 auto;
  text-align: center;
}

.login-box h2{
  
  margin-top: 30px;
  margin-bottom: -20px;
}

.login-box form{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.login-box input{
  padding: 10px;
  margin-top: 15px;
  border: none;
  border-radius: 10px;
  background:#fff;
  border: 1px solid #fff;
  font-size: 13px;
}

.login-box input::placeholder{
  color:#003985;
}

.login-box input:focus{
  outline: none;
}

.options{
  display: flex;
  align-items: center;
  margin-top: 15px;
  font-size: 12px;
  color: white;
}

.options input{
  margin-right: 5px;
  margin-top: 0px;
}

.options a{
    text-decoration: none;
    margin-left: auto;
    color: #003985;
}

.options label{
  color:#003985;
}

.login-box button{
  background: #fff;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 15px;
}

.login-box button:hover{
  background: #fff;
  outline: 1px solid #fff;
}

.glass-container p{
  font-size:12px;
  margin-top: 15px;
}

#register{
  text-decoration: none;
  font-weight: bold;
}
/*Admin page css-end*/

/* Responsive adjustments */
@media screen and (min-width: 768px) {
  body {
    font-size: 110%;
  }
}

@media screen and (min-width: 1440px) {
  body {
    font-size: 120%;
  }
}
