* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #003985;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 0;
  width: 100%;
}

h1 {
  margin: 0;
  width: 100%;
}

main {
  margin: 0 auto;    
  padding: 0 20px;   
}

.main-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}

.main-container div {
  display: flex;
  flex-direction: column;
  align-items: normal;
}

img {
  width: 50%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 8px 12px;
  text-align: left;
}

#btn-status {
  width: 40%;
}

footer {
  background-color: #e3c7e0;
  border: 1px solid #003985;
  color: #003985;
  margin-top: 25px;
  padding: 15px;
  text-align: center;
  width: 100%;
}

/* Navigation (menu bar) */
.topnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e3c7e0;
  border: 1px solid #003985;
  padding: 10px 20px; 
}

.topnav img {
  height: 40px; 
  width: auto;
  margin-right: auto; 
}

.topnav a {
  color: #003985;
  text-decoration: none;
  font-size: 17px;
  margin-left: 20px; 
}



.topnav a.active {
  margin-left: 0;
}


button {
  background: #e3c7e0;
  border: 1px solid #003985;
  border-radius: 5px;
  color: #003985;
  font-size: 0.75em;
  padding: 10px 30px;
  margin-top: 10px;
}

button:hover {
  background: #60f20c;
  border: 1px solid #60f20c;
}

/* Full-width adjustments */
main, .two-col, .header-cols {
  width: 100%;
}

/* Responsive adjustments */
@media screen and (min-width: 768px) {
  body {
    font-size: 110%;
  }
}

@media screen and (min-width: 1440px) {
  body {
    font-size: 120%;
  }
}
